.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-size: 1.6rem;
    font-family: inherit;
    user-select: none;

    + .wrapper {
        margin-left: 10px;
    }

    &:hover {
        cursor: pointer;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.primary {
    flex-shrink: 0;
    padding: 9px 20px;
    border-radius: 99px;
    color: #fff;
    background: linear-gradient(to right bottom, #ff8f26, #ff5117);
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.25s;
}
