@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import './grid.scss';
:root {
    --primary: #fe2c55;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #252525;
    --border-color: #5a5a5a;
    --primary-color: rgb(253, 173, 0);
    --header-height: 165px;
    --navbar-height: 31.5px;
    --default-layout-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    background: none;
}

a[href] {
    text-decoration: none;
}

li {
    list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
