.wrapper {
    display: flex;
    align-items: center;
    padding: 4px 0 4px 8px;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.img {
    width: 3.2rem;
    height: 3.2rem;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    padding-left: 10px;
}

/*Mobile and Tablet*/
@media (max-width: 63.9375em) {
    .img {
        width: 5rem;
        height: 5rem;
    }

    .name {
        font-size: 1.8rem;
    }
}
