.filter {
    margin-top: 16px;
    font-size: 3rem;
}

.select-input {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    margin-left: 10px;
}

.select-input,
option {
    font-size: 2rem;
}

/*Tablet*/
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .select-input,
    option {
        font-size: 1.6rem;
    }
}

/*Mobile*/
@media (max-width: 46.1875em) {
    .filter.select-input,
    .filter option {
        font-size: 1rem;
    }
}
