//Tippy
.menu-wrapper {
    min-width: 230px;
    padding: 8px 24px !important;

    hr {
        margin: 8px 0;
        border: none;
        border-top: solid 1px rgba(0, 0, 0, 0.05);
    }

    .menu-item {
        font-size: 1.4rem;
        color: #666;
        display: block;
        padding: 10px 0;
        cursor: pointer;
        margin-left: 0;
    }
}

.user {
    display: flex;
    align-items: center;
}

.user-avatar {
    position: relative;
    margin: 10px 0;
}

.avatar-img {
    font-size: 5.6px;
    background: transparent;
    border-radius: 50%;

    img {
        width: 9em;
        height: 9em;
        object-fit: cover;
        border-radius: 50%;
    }
}

.user-name {
    margin-left: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #292929;
}
