/*Product*/
.section-product {
    padding-top: 20px;
}

.section-product-item {
    display: block;
    background-color: var(--white-color);
    border-radius: 2px;
    margin-top: 24px;
    text-decoration: none;
    border-radius: 2px;
    transition: transform 0.1s linear;
    will-change: transform;
    color: #252525;
}
.section-product-item.section-product-item:hover {
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);
}

.section-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-product-item__info {
    padding: 10px;
    width: 100%;
    font-size: 1.6rem;
}

.section-product-item__name {
    line-height: 2rem;
    max-height: 2rem;
    overflow: hidden;
    flex: 1;
    padding-right: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #252525;
    font-weight: 600;
}

.section__short-desc {
    color: #454a4c;
    font-size: 1.2rem;
}

.section-product-item__price {
    padding: 4px 0;
}

.section-product-item__price-curent {
    color: #bd0029;
    font-weight: 600;
}

.section-product-item__price-old {
    padding-left: 8px;
    color: #848c94;
    text-decoration: line-through;
}

/*PAGE SHOPPING*/
.product__list {
    padding: 40px 0;
}

.category {
    margin-bottom: 50px;
}

.category__heading {
    font-size: 1.6rem;
    color: var(--white-color);
    padding: 10px;
    background-color: var(--text-color);
    margin-bottom: 10px;
}

.category__list {
    list-style: none;
    padding-left: 0;
}

.category__item {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.category__item:hover .category__item-link {
    color: var(--primary-color);
}

.category__item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.7rem;
}

.category__item-icon {
    color: var(--text-color);
    font-size: 1.4rem;
}

.input-checkbox {
    font-size: 1.6rem;
    margin-right: 10px;
}

.categort__item-text {
    font-size: 1.6rem;
}

.home-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-filter__label {
    font-size: 1.6rem;
    color: #252525;
    font-weight: 600;
}

.select-input {
    height: 3.5rem;
    width: 17rem;
    color: #252525;
    font-size: 1.4rem;
    outline: none;
    cursor: pointer;
    border: 1px solid #d8d8d8;
}

.pagination {
    width: 100%;
    padding: 20px 0 50px 0;
}

.mypagination {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    float: right;
}

.mypagination__item .mypagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    color: var(--text-color);
    font-size: 1.4rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 2px;
    margin: 0 2px;
}

.mypagination__item-active .mypagination-link {
    background-color: #252525;
    color: var(--white-color);
}

.content-footer {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}

.app_container {
    margin-top: 10px;
}

/*Mobile and Tablet*/
@media (max-width: 63.9375em) {
}

/*Tablet*/
@media (min-width: 46.25em) and (max-width: 63.9375em) {
}

/*Mobile*/
@media (max-width: 46.1875em) {
    .product__list {
        margin: 0 12px;
    }

    .app_container {
        padding: 0 10px;
    }
}
