//Header Search
.header__search,
.search-result {
    width: 500px;
}

.search-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
    padding-left: 8px;
}

.header__search {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    margin: 0;
    border: 1.5px solid transparent;

    .header__search-input {
        flex: 1;
        height: 100%;
        width: 60%;
        font-size: 1.4rem;
        color: var(--text-color);
        padding: 0 16px;
        border-radius: 2px;
    }

    &:focus-within {
        border: 1.5px solid var(--border-color);
    }
}

.header__search-input:not(:placeholder-shown) ~ .header__search-btn .header__search-btn-icon {
    color: #252525;
}

.header__search-btn {
    background-color: var(--primary-color);
    height: 34px;
    width: 70px;
    margin-right: 2px;
    border-radius: 2px;
    color: var(--white-color);
    font-size: 1.6rem;

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: rgba(253, 173, 0, 0.8);
    }
}

.header-search-clear,
.header-search-loading {
    position: absolute;
    font-size: 1.7rem;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}
